{% extends 'base.html' %}

{% block content %}

<section class="auth-section">
    <div class="auth-card">
        <h1>Verify Email</h1>
        <p>Enter the 6-digit OTP sent to your email.</p>

        <form method="POST">
            {% csrf_token %}

            {% for field in form %}
                <div class="field">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <button type="submit" class="submit-btn">Verify OTP</button>
        </form>

        <p class="auth-link">
            Didn’t receive OTP?
            <a href="{% url 'resend_otp' %}">Resend OTP</a>
        </p>
    </div>
</section>

{% endblock %}