{% extends 'base.html' %}

{% block content %}

<section class="dashboard-section">
    <div class="container">
        <div class="dashboard-header">
            <div>
                <h1>Pending Listings</h1>
                <p>Review landlord submissions before publishing.</p>
            </div>

            <a href="{% url 'dashboard_home' %}" class="table-btn">Back to Dashboard</a>
        </div>

        <div class="dashboard-card">
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Owner</th>
                        <th>Location</th>
                        <th>Rent</th>
                        <th>Submitted</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for listing in listings %}
                        <tr>
                            <td>{{ listing.title }}</td>
                            <td>{{ listing.owner.get_full_name }}</td>
                            <td>{{ listing.district.name }}, {{ listing.city }}</td>
                            <td>NPR {{ listing.monthly_rent }}</td>
                            <td>{{ listing.created_at|date:"M d, Y" }}</td>
                            <td>
                                <a href="{% url 'review_listing' listing.pk %}" class="table-btn">
                                    Review
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">No pending listings.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'includes/pagination.html' %}
    </div>
</section>

{% endblock %}